.comeToLearn {
  margin-top: 70px;
}

.comeToLearnImg {
  height: 320px;
}

.firstWord span {
  font-size: 3vw;
  font-weight: 500;
  text-decoration-line: underline;
  text-underline-offset: 10px;
}

.comeToLearn label {
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 500;
}

.hreff {
  width: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 37%;
  padding: 0.5px;
  background-color: #000;
  margin-bottom: 10px;
}

h3 {
  text-transform: uppercase;
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  .professiaImg {
    height: 400px;
  }
  .comeTitle {
    font-size: 25px;
  }
}
