.contact {
  margin-top: 170px;
  margin-bottom: 50px;
}

.contactMediaTitle label {
  font-size: 35px;
  font-weight: 700;
  font-family: "fontRegular";
  text-transform: uppercase;
}
.phoneNumbers {
  text-decoration: none;
  color: #000;
  margin-bottom: 5px;
}
.phoneNumbersContact {
  color: #000;
  text-decoration: none;
}
.mediaListBus {
  font-weight: 600;
  letter-spacing: 2px;
}
.forContact {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}
.mediaListBuss {
  display: none;
}

@media only screen and (max-width: 768px) {
  .forContact {
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 130px;
    margin-bottom: -30px;
  }
  .mediaListBus {
    display: none;
  }
  .mediaListBuss {
    display: block;
    font-weight: 600;
  }
  .contactMediaTitle label {
    font-size: 23px;
    margin-top: 150px;
  }
  .infoMedia {
    margin-left: -11%;
  }
  .mediamedia {
    margin-top: 220px;
  }
  .adresMedia {
    margin-bottom: -45px;
  }
  .pochtaMedia {
    margin-top: -50px;
  }
  .contactMediaTitle {
    margin-bottom: -20px;
  }
}
