.contact {
  margin-top: 170px;
  margin-bottom: 50px;
}
.pnFooter {
  margin-top: 30px;
}

.contactMediaTitle label {
  font-size: 35px;
  font-weight: 700;
  font-family: "fontRegular";
  text-transform: uppercase;
}
.phoneNumbers {
  text-decoration: none;
  color: #000;
  margin-bottom: 5px;
}
.phoneNumbersContact {
  color: #000;
  text-decoration: none;
}
.mediaListBus {
  font-weight: 600;
  letter-spacing: 2px;
}
.forContact {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}
.mediaListBuss {
  display: none;
}

@media only screen and (max-width: 768px) {
  .forContact {
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 130px;
    margin-bottom: -30px;
  }
  .mediaListBus {
    display: none;
  }
  .adresMedia p {
    margin-left: -10%;
  }
  .mediaListBuss {
    display: block;
    font-weight: 600;
    margin-top: 50px;
  }
  .contactMediaTitle label {
    font-size: 20px;
    margin-top: 150px;
  }
  .infoMedia {
    margin-left: -11%;
  }
  .mediamedia {
    margin-top: -10px;
  }
  .adresMedia {
    margin-bottom: -45px;
  }
  .pochtaMedia {
    margin-top: 70px;
  }
  .contactMediaTitle {
    margin-bottom: -20px;
  }
  .mediaMap {
    height: 200px;
    padding-right: -50%;
    width: 108%;
  }
}
/* @media only screen and (max-width: 600px) {
  .pnFooter {
    margin-top: -100px;
  }
  .namename {
    margin-top: 50px;
  }
} */
@media only screen and (max-width: 450px) {
  .spanMedia {
    font-size: 14px;
  }
}
