.headerSection {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -25px;
}
.Flag {
  margin-left: 80%;
  margin-top: 10px;
  margin-bottom: -50px;
}
.headerSection label {
  text-transform: uppercase;
  font-weight: 600;
}
.headerSectionMedia {
  display: none;
}

/* Media section */
@media only screen and (max-width: 900px) {
  .headerSectionMedia {
    display: block;
    text-align: center;
    padding-bottom: 80px;
  }
  .Flag img {
    display: none;
  }
  .FlagMedia img {
    width: 50px;
  }
  .FlagMedia {
    margin-left: 87%;
  }
  .headerSectionMedia label {
    text-transform: uppercase;
    font-weight: 600;
  }
  .headerSection {
    display: none;
  }
}
