.navbar {
  height: 60px;
  background: #007632;
  margin-top: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroolPage {
  cursor: pointer;
}
.scroolPage:active {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #fff;
}
