.footer {
  background: #007632;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.footerDeartment li {
  font-size: 16px;
  font-family: "fontRegular";
  padding-top: 10px;
}
.infoSpan {
  font-family: "fontRegular";
  font-size: 16px;
  font-weight: 500;
}
.footerText {
  font-weight: 500;
  font-family: "fontRegular";
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
}
.bottomNavbar {
  list-style: none;
  cursor: pointer;
  font-size: 19px;
  font-family: "ubuntuLight";
}
.phoneNumbersFooter {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .footerText {
    padding-bottom: 10px;
  }
  .footerDeartment {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .footerDeartment li {
    margin-bottom: -12px;
  }
  .thirdItemFooter p {
    padding-bottom: -50px;
  }
  .pnFooter {
    margin-top: 30px;
  }
}
