.professia {
  background: #fff;
  padding-bottom: 40px;
}
.professiaContainer {
  padding: 0;
  margin: 0;
  margin-top: 50px;
}
.proffImg img {
  height: 320px;
}

.styleTabss {
  padding-top: 50px;
  padding-left: 30px;
}
.proTitleMedia span {
  font-size: 35px;
  font-weight: 700;
  font-family: "fontRegular";
  text-transform: uppercase;
}
.professiaName {
  padding-left: 30px;
}
.professiaName p {
  font-size: 15px;
  font-family: "fontRegular";
}
.proffTitle {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  height: 2px;
  margin-bottom: 50px;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .proffMedia span {
    font-size: 23px;
  }
  .professiaName {
    margin-left: -30px;
  }
  .professia {
    padding-bottom: -80px;
  }
  .proTitleMedia span {
    font-size: 23px;
  }
  .professia {
    padding: 10px;
  }
  .styleTabss {
    padding-top: 30px;
    /* padding-left: 45px; */
    margin-left: -20px;
    padding-left: 20px;
    padding-right: -30px;
  }
  .proffImg {
    height: 180px;
  }
  .profffmed {
    margin-left: -11.5%;
    margin-right: -2%;
    margin-bottom: 40px;
  }
  .professiaContainer {
    margin-bottom: -130px;
  }
}
@media only screen and (max-width: 625px) {
  .proTitleMedia span {
    font-size: 22px;
  }
}
@media only screen and (max-width: 541px) {
  .proTitleMedia span {
    font-size: 20px;
  }
}
@media only screen and (max-width: 495px) {
  .proTitleMedia span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 461px) {
  .proTitleMedia span {
    font-size: 17px;
  }
}
@media only screen and (max-width: 431px) {
  .proTitleMedia span {
    font-size: 15px;
  }
}
@media only screen and (max-width: 399px) {
  .proTitleMedia span {
    font-size: 14px;
  }
}
